<%- include('../shared/header') %>
<div class="container">
  <h1>Usuarios</h1>
  <input type="button" value="Voltar" onclick="window.location = '/usuarios'" >
  <form action="/usuarios/cadastrar" method="post">
    <fieldset>
      <legend>Cadastro:</legend>
      <div><%= erro %></div>
      <%- include('partials/form') %>
      <input type="submit" value="Salvar">
    </fieldset>
  </form>
</div>
<%- include('../shared/footer') %>