<%- include('../shared/header') %>
<div class="container">
  <h1><%= title %></h1>
  <ul>
    <li><a href="/usuarios" >Cadastro de usuarios</li>
    <li><a href="/paginas" >Cadastro de paginas</li>
  </ul>
</div>
<%- include('../shared/footer') %>
