<%- include('../shared/header') %>
<div class="container">
  <h1><%= title %> - danilo dd</h1>
  <ul>
    <li><a href="/usuarios" >Cadastro de - usuarios</li>
    <li><a href="/paginas" >Cadastro de paginas</li>
  </ul>
  <div class="teste">Teste de cor</div>
</div>
<%- include('../shared/footer') %>
