<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de usuários</title>
  </head>
  <body>
    <h1>Usuarios</h1>
    <input type="button" value="Voltar" onclick="window.location = '/usuarios'" >
    <form action="/usuarios/cadastrar" method="post">
      <fieldset>
        <legend>Cadastro:</legend>
        <div><%= erro %></div>
        <%- include('../partials/campos_do_cadastro') %>
        <input type="submit" value="Salvar">
      </fieldset>
    </form>
  </body>
</html>