<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--add key="SqlConnection" value="Persist Security Info=False;User ID=sa;Initial Catalog=TresCamadas;Data Source=DESKTOP-BOSH1D9\SQLEXPRESS;Password=123456789;"/-->
      <add key="SqlConnection" value="Server=DESKTOP-BOSH1D9\SQLEXPRESS;Database=TresCamadas;User Id=sa;Password=123456789;"/>
      <add key="CaminhoArquivos" value="C:\db\"/>
    </appSettings>
</configuration>