// Place all the styles related to the carros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table{
	border: 1px solid #000;
	th{
		border: 1px solid #000;
	}
	td{
		border: 1px solid #000;
	}
}