table{
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table tr td{
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

table tr td.alterar, table tr td.excluir{
  width: 120px;
}

table tr:nth-child(1){
  background-color: #ccc;
}