<!DOCTYPE html>
<html>
  <head>
    <title>CMS - Interface</title>
    <link rel="stylesheet" href="/stylesheets/build/aplicacao.min.css">
  </head>
<body>
  <nav>
    <ul>
      <li><a href="/" >Home</a></li>
      <li><a href="/usuarios" >Usuarios</a></li>
      <li><a href="/paginas" >Paginas</a></li>
    <ul>
  </nav>
