<!DOCTYPE html>
<html>
  <head>
    <title>CMS - Interface</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/botoes.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/tabela.css">
    <link rel="stylesheet" href="/stylesheets/container.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
  </head>
<body>
  <nav>
    <ul>
      <li><a href="/" >Home</a></li>
      <li><a href="/usuarios" >Usuarios</a></li>
      <li><a href="/paginas" >Paginas</a></li>
    <ul>
  </nav>
